<h3>Your food plan for the day:</h3>


<h2>Add a food </h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Food Name:</label>
    <input type="text" id="burg" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="devoured">Eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked> Yes <br>
    <input type="radio" name="devoured" value="0"> No
  </div> --}}


  <div>
    <label for="devoured">Eaten?</label><br>
    <input type="radio" id="yescheck" name="devoured" value="1" checked>
    <label for="eaten">Yes</label>

    <input type="radio" id="nocheck" name="devoured" value="0">
    <label for="noteaten">No</label>
  </div>



  <button type="submit">Add</button>
</form>

<h2>Foods that you can possibly eat!</h2>

<div class="foodoptions">

  <ul class="noteaten">
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
  </ul>

</div>

  <h2>Foods that you already ate!</h2>
  
<div class="foodoptions">

  <ul class="eaten">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
  </ul>

</div>