li {
  padding: 5px;
  /* margin: 5px; */
  background: #ce809e;
  width: 300px;
  align-self: center;
  margin: 0 auto;

}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}


html{
  /* background-image:url(https://images.unsplash.com/photo-1550674640-edeb406d94bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80); */
  background-image:url(https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);
text-align: center;
}

* {
  color:#222 ; 
  font-size: 28px;
  font-weight: bold;
}


/* .foodoptions{ */
  /* align-content: center;
  align-self: center; */
  /* margin: 0 auto;
  text-align: center;
  margin-left: 610px; */
/* } */

#yescheck{
  display: none;
}
#nocheck{
  display: none;
}